.titleStyle{
    color: green;
}

.card{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 390px;
    display: inline-block;
}